:root {
    --purple: #C271FF;
    --white: #FFFFFF;
    --black: #071629;
    --transparent-black: rgba(7, 22, 41, 0.50);
}

body {
    background-color: var(--white);
    width: 1440px;
    margin: 0;
    padding: 0;
}

* {
    font-family: sans-serif;
    margin: 0;
}
